.DS_Store
cordova-android
cordova-ios
cordova-mobile-spec
deviceMotionandroid
deviceMotionios
deviceOrientationandroid
deviceOrientationios
vibrationios
vibrationandroid
mastertestios
mastertestandroid

temp
node_modules
results.json
